* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
html {
  background-image: url("../images/background.jpg");
  background-attachment: fixed;
}
body {
    margin: 0;
    font-family: Arial;
    background-color: rgba(0, 0, 0, .5);
}
header {
    border-bottom: 2px solid white;
    padding-bottom: 20px;
    background-image: url(../images/background.jpg);
}
header h2 {
    font-size: 400%;
    color: white;
    text-align: center;
    text-shadow: 3px 3px 3px black;
}
h1 {
  font-size: 250%;
  text-align: center;
  color: white;
  text-shadow: 3px 3px 3px black;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
  /* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}
  
.column img {
    max-width: 350px;
    width: 100%;
    margin-top: 8px;
    vertical-align: middle;
    border: 3px outset black;
    border-radius: 10px;
}
footer {
    padding: 40px 0;
    border-top: 2px solid black;
    background-image: url(../images/background.jpg);
}
footer p {
    padding: 1em auto;
    color: white;
    text-align: center;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 100%;
    text-shadow: 3px 3px 3px black;
}
  /* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
}
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
}